.h {
  text-align: center;
  font-weight: 900;
}
form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  flex-basis: 70%;
  height: 40px;
}
form button {
  flex-basis: 30%;
}
.outerDiv {
  width: 1170px;
  margin: auto;
}
.outerDiv ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 50px;
}
.outerDiv ul li {
  margin: 20px 0px;
  color: white;
  text-align: left;
  position: relative;
  background-color: black;
  padding: 10px;
  font-size: 25px;
  border: 2px solid white;
}
.outerDiv ul li span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.completeTodo {
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
  border: 2px solid black !important;
}

.tabsOuter {
  width: 1170px;
  margin: auto;
}

.tabsOuter ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0%;
  padding: 0%;
}

.tabsOuter ul li button {
  background-color: #333;
  color: white;
  border: none;
  padding: 13px 25px;
  cursor: pointer;
}

.activeButton{
  background-color: red !important;
}
